flows.json
[{"id":"2fd9ee8d.f99a52","type":"tab","label":"Chatbot","disabled":false,"info":""},{"id":"6d0ff167.8b441","type":"ui_form","z":"2fd9ee8d.f99a52","name":"","label":"","group":"e42cefb2.2722e","order":3,"width":0,"height":0,"options":[{"label":"Enter your input","value":"Input","type":"text","required":true,"rows":null}],"formValue":{"Input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":175,"y":280,"wires":[["800827af.314508"]],"l":false},{"id":"800827af.314508","type":"function","z":"2fd9ee8d.f99a52","name":"Input parsing","func":"msg.payload= msg.payload.Input;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":260,"wires":[["9d2432e0.aa00e","3343565d.ab57ea"]],"l":false},{"id":"9d2432e0.aa00e","type":"ui_text","z":"2fd9ee8d.f99a52","group":"e42cefb2.2722e","order":4,"width":0,"height":0,"name":"","label":"User Input","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":340,"wires":[],"l":false},{"id":"3343565d.ab57ea","type":"watson-conversation-v1","z":"2fd9ee8d.f99a52","name":"CustomerServiceBot","workspaceid":"be401e89-d30f-41b0-b9dd-0e348ad34a8f","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/ca637df5-773e-4b8c-acdc-e485dda06b41","timeout":"","optout-learning":false,"x":430,"y":200,"wires":[["e40fe694.ed9a38","a3abaaea.2b37c8"]],"l":false},{"id":"e40fe694.ed9a38","type":"debug","z":"2fd9ee8d.f99a52","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":340,"wires":[],"l":false},{"id":"a3abaaea.2b37c8","type":"function","z":"2fd9ee8d.f99a52","name":"Output parsing","func":"if(msg.payload.output.generic[0].response_type==\"Image\"){\n    msg.payload=msg.payload.output.generic[0].title +\"\\n\" +msg.payload.output.generic[0].description\n}\nelse{\n    msg.payload=msg.payload.output.generic[0].text\n}  \nreturn msg;\n","outputs":1,"noerr":0,"x":595,"y":200,"wires":[["8642df84.471d2","6ba449ae.709128"]],"l":false},{"id":"8642df84.471d2","type":"ui_text","z":"2fd9ee8d.f99a52","group":"e42cefb2.2722e","order":6,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":775,"y":240,"wires":[],"l":false},{"id":"6ba449ae.709128","type":"ui_audio","z":"2fd9ee8d.f99a52","name":"","group":"e42cefb2.2722e","voice":"en-US","always":"","x":720,"y":300,"wires":[],"l":false},{"id":"e42cefb2.2722e","type":"ui_group","z":"","name":"ChatBot","tab":"3a5f5be4.1a1ed4","order":1,"disp":true,"width":"6","collapse":false},{"id":"3a5f5be4.1a1ed4","type":"ui_tab","z":"","name":"Chatbot","icon":"Dashboard","disabled":false,"hidden":false}]